/* Archivo Header.css */
@media (max-width: 600px) {
  header {

    background-color: #ff9802;
  } 

  .cuerpo {
        background-color: #ff9802;
  }

  .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-toggler {
    display: block;
    border: 1px solid white;
    padding: 1%;
  }

  .navbar .nav-link.custom-link {
    transition: transform 0.3s ease, color 0.3s ease;
    font-weight: bold;
    font-size: 125%;
    color: white;
  }
  
  .navbar .nav-link.custom-link:hover {
    transform: scale(1.05);
    color: rgba(112, 112, 112, 0.7); /* Opacidad del 70% */
  }

  .btn {
    border-color: white;
    color: white;
    font-weight: bold;
  }

  .btnWFondo {
    background-color: white;
    color: #ff9802;
  }

  .btnWFondo:hover {
    background-color: #d88303;
    border-color: white;
  }

  .btnSFondo:hover {
    background-color: white;
    color: #ff9802;
    border-color: white;
  }

    /* SIDEBAR */
    .sidebar {
      background-color: #f0f0f0;
      text-align: center;
      width: 100%;
      height: auto;
      margin-top: 2%;
      padding: 20px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease-in-out; /* Para la animación de colapso */
    }
    
    .sidebar ul {
      display: flex;
      align-items: center;
      overflow-y: scroll;
    }

    .sidebar button {
      margin-top: 2%;

    }
    .sidebar-item {
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out;
    }
    
    .sidebar-link {
      display: block;
      padding: 15px;
      text-decoration: none;
      color: #333;
      font-weight: 500;
    }
    
    .sidebar img {
      width: 100%;
      height: auto;
    }
    
    .active {
      background-color: #4CAF50;
      color: #fff;
      font-weight: bold;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }
  
    .sidebar ul, li {
      list-style: none; /* Elimina el marcador */
      margin: 0;
      padding: 0;
    }
  
    .sidebar li:hover, img:hover {
      cursor: pointer;
    }
  
    /* MAIN CONTENT */
    .main-content {
      
      width: 100%;
  }

  .dashboard-container{
    display: block;
  }

  .panelInfo {
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  .infoNubes {
    width: 100%;
    height: auto;
    padding: 3%;
    font-size: 150%;
  } 

  .infoNubes h2 {
    font-size: 150%;
  }

  .infoNube {
    background-color: aliceblue;
    width: 100%;
    height: auto;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5%;
    text-align: left;
    margin-top: 5%;
  }

    .iconNube {
      font-size: 200%;
      font-weight: bold;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 3%;
      padding-right: 3%;
      background-color: #4CAF50;
      border-radius: 15px 0px 15px 0px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      color: white;
      display: flex;
      align-items: center;
  } 

  .infoIngreso {
    font-size: 150%;

      color: #80d683;
  }

  .infoEngreso {
    font-size: 150%;
  }

  .noneInMobile{
    display: none;
  }

  .inputNube {
    height: auto;
    width: 100%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #4CAF50;
    text-align: center;
  }

  .alignCenterNube {
    text-align: center;
  }

  .btnNube {
    height: auto;
    font-size: 100%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #4CAF50;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
} 

  .panelBtnNube{
    text-align: center;
  }

  .infoNubeHorizontal {
    background-color: aliceblue;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .inputCheques{
    height: auto;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #4CAF50;
    text-align: center;
  }

  .btnCheques {
    font-size: 100%;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
  }

  .centered-content {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
  }

  .select-centered {
    padding-top: 1%;
    padding-bottom: 1%;
    height: auto;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #4CAF50;
    -webkit-appearance: none; /* Quitar estilos por defecto en navegadores WebKit */
    -moz-appearance: none;    /* Quitar estilos por defecto en navegadores Firefox */
    appearance: none;         /* Quitar estilos por defecto en navegadores soportados */
  }
  
  .select-centered option {
    width: 100%;
    height: auto;
    font-size: 75%;
    text-align: center;
  }

  .infoNubeX2 {
    background-color: aliceblue;
    width: 95%;
    height: auto;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2%;
    margin-top: 2%;
    text-align: left;
}

  .circle-with-number {
    position: relative;
    display: inline-block;
  }
  
  .circle-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* O el color que prefieras */
  }

  .arrowNubes {
        font-size: 175%;
        color: #4CAF50;
        font-weight: bold;
    }

    .infoTables {
      width: 100%;
      height: auto;
      padding: 3%;
    } 

    #tablePago {
      width: 33%;
    }

    #tableImporte {
      width: 33%;
    }

    #tableEstado {
      width: 33%;
    }

      /* EMPLEADOS */
  .gestion-empleados {
    text-align: center;
    display: block;
    height: auto;
    padding: 2%;
  }
  .child-div-ge {

    width: 100%;
    padding: 10px;
  }
  .calendar-div-empleados {
    text-align: center;
    height: auto;
    overflow-y: auto;
    padding: 2%;

  }
  .calendar-table-empleados th, .calendar-table-empleados td {
    text-align: center;
    vertical-align: middle;
  }

  .calendar-table-empleados td button{
    width: 100%;
    height: 5vh;
  }

  .task-container li{
    width: 100%;

    display: block;
    text-align: center;
  }
  

  /* FIN MOBILE */
}

@media (min-width: 601px) and (max-width: 1024px) {
  header {

    background-color: #ff9802;
  } 
    .cuerpo {
        background-color: #ff9802;
  }

  .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  
  .navbar-toggler {
    display: block;
    border: 1px solid white;
    padding: 1%;
  }

  .navbar .nav-link.custom-link {
    transition: transform 0.3s ease, color 0.3s ease;
    font-weight: bold;
    font-size: 125%;
    color: white;
  }
  
  .navbar .nav-link.custom-link:hover {
    transform: scale(1.05);
    color: rgba(112, 112, 112, 0.7); /* Opacidad del 70% */
  }

  .btn {
    border-color: white;
    color: white;
    font-weight: bold;
  }

  .btnWFondo {
    background-color: white;
    color: #ff9802;
  }

  .btnWFondo:hover {
    background-color: #d88303;
    border-color: white;
  }

  .btnSFondo:hover {
    background-color: white;
    color: #ff9802;
    border-color: white;
  }

    /* SIDEBAR */
    .sidebar {
      background-color: #f0f0f0;
      text-align: center;
      width: 100%;
      height: auto;
      margin-top: 2%;
      padding: 20px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease-in-out; /* Para la animación de colapso */
    }
    
    .sidebar ul {
      display: flex;
      align-items: center;
      overflow-y: scroll;
    }

    .sidebar button {
      margin-top: 2%;

    }
    .sidebar-item {
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out;
    }
    
    .sidebar-link {
      display: block;
      padding: 15px;
      text-decoration: none;
      color: #333;
      font-weight: 500;
    }
    
    .sidebar img {
      width: 100%;
      height: auto;
    }
    
    .active {
      background-color: #4CAF50;
      color: #fff;
      font-weight: bold;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }
  
    .sidebar ul, li {
      list-style: none; /* Elimina el marcador */
      margin: 0;
      padding: 0;
    }
  
    .sidebar li:hover, img:hover {
      cursor: pointer;
    }
  
    /* MAIN CONTENT */
    .main-content {
      
      width: 100%;
  }

  .dashboard-container{
    display: block;
  }

  .panelInfo {
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  .infoNubes {
    width: 100%;
    height: auto;
    padding: 3%;
    font-size: 150%;
  } 

  .infoNubes h2 {
    font-size: 150%;
  }

  .infoNube {
    background-color: aliceblue;
    width: 100%;
    height: auto;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5%;
    text-align: left;
    margin-top: 5%;
  }

    .iconNube {
      font-size: 200%;
      font-weight: bold;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 3%;
      padding-right: 3%;
      background-color: #4CAF50;
      border-radius: 15px 0px 15px 0px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      color: white;
      display: flex;
      align-items: center;
  } 

  .infoIngreso {
    font-size: 150%;

      color: #80d683;
  }

  .infoEngreso {
    font-size: 150%;
  }

  .noneInMobile{
    display: none;
  }

  .inputNube {
    height: auto;
    width: 100%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #4CAF50;
    text-align: center;
  }

  .alignCenterNube {
    text-align: center;
  }

  .btnNube {
    height: auto;
    font-size: 100%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #4CAF50;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
} 

  .panelBtnNube{
    text-align: center;
  }

  .infoNubeHorizontal {
    background-color: aliceblue;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .inputCheques{
    height: auto;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #4CAF50;
    text-align: center;
  }

  .btnCheques {
    font-size: 100%;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
  }

  .centered-content {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
  }

  .select-centered {
    padding-top: 1%;
    padding-bottom: 1%;
    height: auto;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #4CAF50;
    -webkit-appearance: none; /* Quitar estilos por defecto en navegadores WebKit */
    -moz-appearance: none;    /* Quitar estilos por defecto en navegadores Firefox */
    appearance: none;         /* Quitar estilos por defecto en navegadores soportados */
  }
  
  .select-centered option {
    width: 100%;
    height: auto;
    font-size: 75%;
    text-align: center;
  }

  .infoNubeX2 {
    background-color: aliceblue;
    width: 95%;
    height: auto;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2%;
    margin-top: 2%;
    text-align: left;
}

  .circle-with-number {
    position: relative;
    display: inline-block;
  }
  
  .circle-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* O el color que prefieras */
  }

  .arrowNubes {
        font-size: 175%;
        color: #4CAF50;
        font-weight: bold;
    }

    .infoTables {
      width: 100%;
      height: auto;
      padding: 3%;
    } 

    #tablePago {
      width: 33%;
    }

    #tableImporte {
      width: 33%;
    }

    #tableEstado {
      width: 33%;
    }

}
@media (min-width: 1024px) {
  .navbar-toggler {
    display: none;
  }

  .navbar .nav-link.custom-link {
    transition: transform 0.3s ease, color 0.3s ease;
    font-weight: bold;
    font-size: 125%;
    color: white;
  }
  
  .navbar .nav-link.custom-link:hover {
    transform: scale(1.05);
    color: rgba(112, 112, 112, 0.7); /* Opacidad del 70% */
  }
  
  header {
    background-color: #ff9802;
  } 

    .cuerpo {
        background-color: #ff9802;
  }
  .btn {
    border-color: white;
    color: white;
    font-weight: bold;
  }

  .btnWFondo {
    background-color: white;
    color: #ff9802;
  }

  .btnWFondo:hover {
    background-color: #d88303;
    border-color: white;
  }

  .btnSFondo:hover {
    background-color: white;
    color: #ff9802;
    border-color: white;
  }


  /* SIDEBAR */
  .sidebar {
    
    background-color: #f0f0f0;
    width: 20%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    transition: transform 0.3s ease-in-out; /* Para la animación de colapso */
  }
  
  .sidebar-item {
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .sidebar-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .sidebar-link:hover {
    background-color: #e0e0e0;
  }
  
      
  .sidebar img {
    width: 100%;
    height: auto;
  }
  
  .active {
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .sidebar ul, li {
    list-style: none; /* Elimina el marcador */
    margin: 0;
    padding: 0;
  }

  .sidebar li:hover, img:hover {
    cursor: pointer;
  }
  
  /* MAIN CONTENT */

  .main-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
  }

  .panelInfo {
    width: 100%;
    height: 100vh;
    text-align: center;
    
}

.infoNubes {
    width: 100%;
    height: 30vh;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.infoTables {
    width: 100%;
    height: auto;
    padding: 3%;
} 

.infoNube {
    background-color: aliceblue;
    width: 20%;
    height: 25vh;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2%;
    text-align: left;
}

.infoNubeX2 {
    background-color: aliceblue;
    width: 22%;
    height: 25vh;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2%;
    text-align: left;
}

.iconNube {
    font-size: 200%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #4CAF50;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    align-items: center;
} 

.infoIngreso {
    font-size: 125%;
    color: #80d683;
}

.arrowNubes {
    font-size: 175%;
    color: #4CAF50;
    font-weight: bold;
}

.infoEngreso {
  font-size: 125%;
    color: #961717;
}

.panelBtnNube{
    text-align: center;
}

.btnNube {
    height: auto;
    font-size: 100%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #4CAF50;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
} 

.inputNube {
    height: auto;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #4CAF50;
    text-align: center;
}

.infoNubeHorizontal {
    background-color: aliceblue;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.inputCheques{
    height: auto;
    width: 25%;
    font-size: 100%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #4CAF50;
    text-align: center;
}

.select-centered {
    padding-top: 1%;
    padding-bottom: 1%;
    height: auto;
    width: 25%;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #4CAF50;
    -webkit-appearance: none; /* Quitar estilos por defecto en navegadores WebKit */
    -moz-appearance: none;    /* Quitar estilos por defecto en navegadores Firefox */
    appearance: none;         /* Quitar estilos por defecto en navegadores soportados */
  }


  
  .select-centered option {
    text-align: center;
  }


.btnCheques:hover {
    font-size: 100%;
    font-weight: bold;
    color: #4CAF50;
}
.btnCheques:hover {
    font-size: 100%;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
}

.centered-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el contenido tanto vertical como horizontalmente */
  }

  .circle-with-number {
    position: relative;
    display: inline-block;
  }
  
  .circle-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* O el color que prefieras */
  }

  .dashboard-container{
    display: flex;
  }

  .noneInPC{
    display: none;
  }
  
  /* EMPLEADOS */
  .gestion-empleados {
    display: flex;
    height: 50vh;
    padding: 2%;
  }
  .child-div-ge {
    height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    width: 50%;
    padding: 10px;
  }
  .calendar-div-empleados {
    height: 50vh;
    overflow-y: auto;
    padding: 2%;

  }
  .calendar-table-empleados th, .calendar-table-empleados td {
    text-align: center;
    vertical-align: middle;
  }

  .task-container li{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .container-fluid-prov{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .listProv{
    width: 100% !important;
    padding: 1%;
    height: auto;
  }

  .rankProv{
    width: 50% !important;
    padding: 1%;
    height: auto;
  }

}


